(
    name: "Ocean (Crome Modified)",
    foreground: "#c0caf5",
    cursor: "#c0caf5",
    bright_foreground: "#C4C4C4",
    background: "#1a1b26",
    dim_foreground: "#8E8E8E",
    normal: (
        black: "#a9b1d6",
        red: "#f7768e",
        green: "#9ece6a",
        yellow: "#e0af68",
        blue: "#7aa2f7",
        magenta: "#bb9af7",
        cyan: "#7dcfff",
        white: "#a9b1d6",
    ),
    bright: (
        black: "#c0caf5",
        red: "#f7768e",
        green: "#9ece6a",
        yellow: "#e0af68",
        blue: "#7aa2f7",
        magenta: "#bb9af7",
        cyan: "#7dcfff",
        white: "#c0caf5",
    ),
    dim: (
        black: "#696c77",
        red: "#A04040",
        green: "#5D7D62",
        yellow: "#9E914A",
        blue: "#486073",
        magenta: "#7F46A1",
        cyan: "#3F7F87",
        white: "#898989",
    ),
)